{% extends 'world/base.html' %}


{% block body %}
<li class="last"> <img src="{{ user.avatar }} "> | {{ user.get_full_name }} | <a href="{% url 'logout' %}">Выйти</a></li>
<center><form action="new_memory">
    <button>Добавить воспоминание</button>
</form>
{% if not memory_list %}
<h2>У вас нет ни одного воспоминания</h2>
{% else %}
<h1>Список воспоминаний пользователя <u>{{ user.get_full_name }}</u></h1>
{% for memory in memory_list %}
    <a href="detail_memory" >{{ memory.title }}</a>
    <p>{{ memory.description }}</p>
{% endfor %}
{% endif %}
</center>
{% endblock %}



